/* For Different Color of Shadow. */
.redShadow:hover {
  box-shadow: 2px 2px 15px 5px red;
  transition-duration: 200ms;
}

.lightBlueShadow:hover {
  box-shadow: 2px 2px 15px 5px lightblue;
  transition-duration: 200ms;
}

.blackShadow:hover {
  box-shadow: 2px 2px 15px 5px black;
  transition-duration: 200ms;
}

.blackShadowWithColor:hover {
  box-shadow: 2px 2px 15px 5px black;
  transition-duration: 200ms;
  color: black;
}

.whiteShadow:hover {
  box-shadow: 2px 2px 15px 5px white;
  transition-duration: 200ms;
}

.littleSpinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid white;
  border-top-color: black;
  animation: spin 1.2s ease-in-out infinite;
}
.mediumSpinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid white;
  border-top-color: black;
  animation: spin 1.2s ease-in-out infinite;
}
.bigSpinner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid white;
  border-top-color: black;
  animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}

/* Starting the component style from here. */
.brandCard {
  /* margin: 10px; */
  /* padding: 5px; */
  padding-left: 5px;
  padding-right: 5px;
}
.brandImage {
  height: 145px;
  box-shadow: 2px 2px 2px 2px gray;
}

.partnerHeadingCard {
  width: 320px;
  height: 810px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #ffd098;
}

.partnerHeadingMain {
  color: #121212;
  font-size: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.partnerHeadingPara {
  color: rgba(18, 18, 18, 0.64);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.partnerHeadingOption {
  color: rgba(18, 18, 18, 0.64);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.partnerHeadingOption:hover {
  color: #121212;
  font-size: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.partnerHeadingOptionSelected {
  color: #121212;
  font-size: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.BusinessInfo {
  color: #90212c;
  font-size: 34px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.customInput {
  border-radius: 8px;
  border: 1px solid rgba(18, 18, 18, 0.16);
  background: rgba(229, 229, 229, 0.4);
  color: black;
}
.customInputDifferent {
  background: rgba(229, 229, 229, 0.4);
  color: black;
}
.sendingButton {
  border-radius: 8px;
  background: #dc3545;
  width: 96px;
  height: 42px;
  flex-shrink: 0;
}
.backGround {
  border-radius: 8px;
  border: 1px solid rgba(18, 18, 18, 0.16);
  background: rgba(229, 229, 229, 0.4);
}

.customInputImageUpload {
  border-radius: 8px;
  border: 1px solid rgba(18, 18, 18, 0.15);
  background: #e5e5e566;
}

.proceedButton {
  border-radius: 8px;
  background: #dc3545;
}
.inputHead {
  color: #da3545;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ownerDetails {
  border-radius: 20px;
  background: #90212c;
  width: 190px;
  height: 42px;
  flex-shrink: 0;
}

.OwnerHeading {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.yesNoButton {
  width: 86px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #dc3545;
  color: #DC3545;
}
.updateButton:hover{
    box-shadow: 2px 2px 15px 5px lightblue;
    transition-duration: 100ms;
    border-radius: 2px;
}
.FinallyUpdateButton:hover{
  box-shadow: 2px 2px 15px 5px black;
    transition-duration: 100ms;
    border-radius: 2px;
}

.tableRow {
  color: white;
  transition-duration: 200ms;
  cursor: pointer;
}

.tableRow:hover {
  color: orangered;
  transition-duration: 200ms;
  cursor: pointer;
}
